@import "bootstrap-reboot.css";
@import "style.css";
@import "chat-block.css";
@import "chat.css";

.enter {
  opacity: 0;
}

.enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exit {
  opacity: 1;
}

.exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}